streamlit==1.59.2

langchain==0.3.27
langchain-core==0.3.76
langchain-community==0.3.27
langchain-openai==0.3.30
langchain-huggingface==0.3.1
langchain-pinecone==0.2.8
langchain-text-splitters==0.3.9

openai==1.99.9
pinecone==7.3.0

sentence-transformers
python-dotenv
bcrypt
pypdf
docx2txt
datasets
